@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto&display=swap');

body {
  max-width: 75%;
  margin: 0 auto;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
.MuiCard-root{
  margin:10px;
  display: inline-block;
  max-width:400px;
  min-width:350px;
}

.card-title{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  max-width:328px;
}

.closeIcon {
    position: absolute !important;
    right: 5px;
    top: 5px;
  }

  .MuiButton-sizeLarge{
    font-family: 'Roboto' !important;
    width: 100%;
    margin-bottom: 10px !important;
    font-size: 1.25rem !important;
  }

  .MuiButton-sizeLarge.MuiButton-root{
    text-transform: none !important;
  color: rgba(256,256,256, 0.5);
}

.MuiButton-outlinedPrimary{
  font-size: 0.75rem !important;
}

.jumbotron{
  font-family: 'Montserrat';
  background: #880E4F;
  color: rgba(256, 256, 256, 0.5);
}

.MuiPaper-root{
  color: #880E4F !important;
}